*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9; 
}

header#header-logo h1{
    display: inline-block;
    font-size: 3rem;
    font-family: 'Gill Sans', sans-serif;
    vertical-align: top;
    
}

#header-logo{
    padding: 1rem;
    background-color: white;
}

.container{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.2rem;
}

#container-button-main{
    margin-top: 3rem;
    padding: 0.8rem 3rem;
    border-bottom: 3px solid #f6f8f9; 
}

.style-button{
    width: 6rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.task-button{
    color: white; 
    background-color: #47adf1;
    border: none;
    transition-duration: 0.4s;

}
.task-button:hover {
    background-color: #6fd873; /* Green */
    color: white;
}

.asection-button{
    color: #d5d9dd;
    background-color: white;
    border: 1px solid #d5d9dd;
    transition-duration: 0.4s
    
}

.asection-button:hover{
    background-color: #00ff59; /* Green */
    color: white;
}

.task-container{

    padding: 2rem 0 0 4rem;
    font-family: 'Gill Sans', sans-serif;
}

.list-style{
    list-style: none;
    font-size: 1.1rem;
    font-family: 'Gill Sans', sans-serif;
    color: #4e525a;
    padding-bottom: 1.5rem;

}

.task-title{
    color: #474b54;
    margin-bottom: 0.7rem;
}

span.checked{
    color: #91d4c4;
    border: 2px solid #91d4c4;
    border-radius: 100%;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    font-size: 0.7rem;
    margin-right: 0.5rem;
    width: 1.4rem;
    display: inline-block;
    height: 1.4rem;
    
}

span.unchecked{
    
    color: #ec594f;
    border: 2px solid #ec594f;
    border-radius: 100%;
    padding: 0.1rem 0.33rem 0.1rem 0.33rem;
    font-size: 0.7rem;
    margin-right: 0.5rem;
    width: 1.4rem;
    display: inline-block;
    height: 1.4rem;
    

}

.marker-text{
    font-size: 0.7rem;
    color: white;
    background-color: #45abea;
    padding: 0.4rem;
    border-radius: 0.7rem;
}

.marker-text{
    background-color: #ec594f;
}

.editorial-blue{
    background-color: #45abea;
}

.q1-goals{
    background-color: #9c72e4 ;
}

.recruiting-green{
    background-color: #64c0a9;
}

.orange-mobile{
    background-color: #f29e33 ;
}

.website-pink{
    background-color: #d863a1 ;
}

.sales-green{
    background-color: #c9d965 ;
}